<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title" >PelisPlus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-icon class="icon" name="person-circle-outline"></ion-icon>
  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">
    <ion-input class="content" type="email" name="email" label="Email: " labelPlacement="floating" [counter]="true"
      [(ngModel)]="usuario.email" maxlength="20" fill="solid" required>
    </ion-input>

    <ion-input class="content" type="password" name="password" id="custom-input" label="Contraseña: "
      labelPlacement="floating" [counter]="true" maxlength="20" [counterFormatter]="customCounterFormatter" fill="solid"
      [(ngModel)]="usuario.password" required>
    </ion-input>

    <ion-button id="present-alert" class="boton" type="submit" [disabled]="formulario.invalid">
      Login
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>